@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-image: url('../../images/body-bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
}

.navbar {
  background-color: rgba(248, 249, 250, 0.8);
  padding: 1.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3.125rem;
  margin-right: 0.625rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  text-decoration: none;
  margin-left: 1.25rem;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-icon {
  display: none;
}

.profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.25rem;
}

.profile i {
  border: 0.125rem solid black;
  border-radius: 100%;
  padding: 0.625rem;
  color: black;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.profile i:hover {
  border: 0.125rem solid #007bff;
  color: #007bff;
}

.profile a {
  text-decoration: none;
  color: black;
}

.profile a:hover {
  color: #007bff;
}

.book-details {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 37.5rem;
  flex: 1;
}

.book-details .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.book-details h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

.book-details p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.book-details .edit,
.book-details .delete {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

.book-details .delete {
  background-color: #dc3545;
}

.back-button {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  background-color: #6c757d;
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 0.75rem;
  transition: background-color 0.3s;
}

.book-details a:hover {
  background-color: #0056b3;
}

.book-details .delete:hover {
  background-color: #c82333;
}

.back-button:hover {
  background-color: #5a6268;
}

.back-button i {
  margin-right: 0.5rem;
}

.footer {
  background-color: rgba(248, 249, 250, 0.8);
  padding: 2rem 0;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 -0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  margin-top: auto;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .book-details {
    width: 80%;
    margin: 6rem auto;
  }

  .book-details .container {
    text-align: center;
  }

  .nav-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -220%;
    left: 0;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.8);
    padding: 1.25rem 0;
    border-top: 0.0625rem solid #ccc;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;
  }

  .nav-group .profile {
    margin: 0.5rem auto;
  }

  .nav-group.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.8);
    padding: 1.25rem 0;
    border-top: 0.0625rem solid #ccc;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  }

  .nav-group.active .profile {
    margin: 0.5rem auto;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links a {
    margin: 0.5rem 0;
  }

  .nav-icon {
    display: flex;
    margin-left: auto;
  }

  .nav-icon i {
    font-size: 1.6rem;
  }

  .nav-icon .bars {
    display: flex;
  }

  .nav-icon .xmark {
    display: none;
  }

  .nav-icon.active .bars {
    display: none;
  }

  .nav-icon.active .xmark {
    display: flex;
  }

  .book-details.active {
    margin-top: 18rem;
  }
}
