{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/profileDetails.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar" id="navbar">
      <div class="container">
        <div class="logo">
          <a href="{% url 'home-page' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
          </a>
          <a href="{% url 'home-page' %}" class="title"> Toko Buku </a>
        </div>
        <div class="nav-group">
          <div class="nav-links">
            <a href="{% url 'home-page' %}">Home</a>
            <a href="{% url 'book-list' %}">Katalog Buku</a>
            <a href="{% url 'transaction-list' %}">Daftar Transaksi</a>
            {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'profile-list' %}">Daftar User</a>
            {% endif %}
          </div>
          <div class="profile">
            {% if user.is_authenticated %}
            <a href="{% url 'profile-details' %}"><i class="fa-solid fa-user"></i></a>
            <a href="{% url 'profile-details' %}">{{ user.username }}</a>
            {% else %}
            <a href="{% url 'login-page' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
          </div>
        </div>
        <div class="nav-icon">
          <i class="fa-solid fa-bars bars"></i>
          <i class="fa-solid fa-xmark xmark"></i>
        </div>
      </div>
    </nav>

    <section id="profile-details" class="profile-details">
      <div class="container">
        <h1>Profile Details</h1>
        <p>Username: {{ user_detail.username }}</p>
        <p>Email: {{ user_detail.email }}</p>
        <p>Role: {{ role }}</p>
        <a href="{% url 'profile-edit-admin' user_detail.id %}" class="edit">Edit Profile</a>
        <a href="{% url 'profile-delete-admin' user_detail.id %}" class="delete">Delete Profile</a>
        <form action="{% url 'logout' %}" method="post" style="display: inline" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="logout-button">Logout</button>
        </form>
        <a href="javascript:history.back()" class="back-button"><i class="fa-solid fa-arrow-left"></i>Kembali</a>
      </div>
    </section>

    <!-- footer -->
    <footer class="footer" id="footer">&copy; Muhammad Al Fatih and Softuni 2024. All rights reserved.</footer>

    <!-- script untuk membuka dan menutup navbar pada layar kecil -->
    <script>
      // Get the elements
      const barsIcon = document.querySelector('.bars');
      const xmarkIcon = document.querySelector('.xmark');
      const profileDetailsSection = document.getElementById('profile-details');
      const navGroup = document.querySelector('.nav-group');
      const navIcon = document.querySelector('.nav-icon');

      // Add click event listener to the bars icon
      barsIcon.addEventListener('click', function () {
        // Toggle 'active' class on the specified elements
        profileDetailsSection.classList.toggle('active');
        navGroup.classList.toggle('active');
        navIcon.classList.toggle('active');
      });

      // Add click event listener to the xmark icon
      xmarkIcon.addEventListener('click', function () {
        // Toggle 'active' class on the specified elements
        profileDetailsSection.classList.toggle('active');
        navGroup.classList.toggle('active');
        navIcon.classList.toggle('active');
      });
    </script>
  </body>
</html>
