{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toko Buku</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar" id="navbar">
      <!-- Tambahkan id="navbar" di sini -->
      <div class="container">
        <div class="logo">
          <!-- image logo back to home page -->
          <a href="{% url 'home-page' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
          </a>

          <!-- text logo back to home page -->
          <a href="{% url 'home-page' %}" class="title"> Toko Buku </a>
        </div>

        <div class="nav-group">
          <!-- navlist -->
          <div class="nav-links">
            <a href="#top" class="scroll-to-top">Home</a>
            <a href="#about">About</a>
            <a href="#creator">Creator Profile</a>
            <a href="#contact">Contact Me</a>
            <a href="{% url 'book-list' %}">Katalog Buku</a>
          </div>

          <!-- profile -->
          <div class="profile">
            {% if user.is_authenticated %}
            <a href="{% url 'profile-details' %}"><i class="fa-solid fa-user"></i></a>
            <a href="{% url 'profile-details' %}">{{ user.username }}</a>
            {% else %}
            <a href="{% url 'login-page' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
          </div>
        </div>

        <!-- nav-icon -->
        <div class="nav-icon">
          <i class="fa-solid fa-bars bars"></i>
          <i class="fa-solid fa-xmark xmark"></i>
        </div>
      </div>
    </nav>

    <!-- content -->

    <!-- About -->
    <section id="about" class="about">
      <div class="container">
        <h1>About</h1>
        <p>Selamat datang di website <span>Toko Buku</span>, website ini bertujuan untuk menampilkan berbagai macam jenis buku dan dapat melakukan sebuah transaksi jika terdapat buku yang ingin dibeli.</p>
      </div>
    </section>

    <!-- Creator Profile -->
    <section id="creator" class="creator">
      <div class="container">
        <h1>Creator Profile</h1>
        <div class="creator-content">
          <img src="{% static 'images/fatih.jpg' %}" alt="creator.jpg" />
          <p>
            Halo semuanya saya <a href="#contact">Muhammad Al Fatih</a> saya merupakah seorang mahasiswa semester 5 dari <a href="https://nurulfikri.ac.id/">Sekolah Tinggi Teknologi Terpadu Nurul Fikri</a> Depok, saat ini saya sedang
            menjalankan program MBKM yaitu Studi Independen bersama Mitra saya <a href="https://softuni.id/">SoftUni Indonesia</a>, dan website ini adalah bagian dari hasil belajar saya bersama SoftUni
          </p>
        </div>
      </div>
    </section>

    <!-- Contact Me -->
    <section id="contact" class="contact">
      <div class="container">
        <h1>Contact Me</h1>
        <p>Anda dapat menghubungi saya melalui kontak berikut:</p>
        <ul>
          <li>
            <a href="https://www.instagram.com/fatih_1344/" target="_blank"><i class="fa-brands fa-instagram"></i> fatih_1344</a>
          </li>
          <li>
            <a href="https://github.com/MAF1344" target="_blank"><i class="fa-brands fa-github"></i> MAF1344</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/malfatih/" target="_blank"><i class="fa-brands fa-linkedin"></i> Muhammad Al Fatih</a>
          </li>
        </ul>
      </div>
    </section>

    <!-- footer -->
    <footer class="footer" id="footer">&copy; Muhammad Al Fatih and Softuni 2024. All rights reserved.</footer>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // script agar warna navbar berubah saat discroll
        window.onscroll = function () {
          var navbar = document.getElementById('navbar');
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            navbar.classList.add('scrolled');
          } else {
            navbar.classList.remove('scrolled');
          }
        };

        // Menambahkan event listener untuk semua link di navbar
        document.querySelectorAll('.nav-group a').forEach((anchor) => {
          anchor.addEventListener('click', function (e) {
            const targetId = this.getAttribute('href'); // Mendapatkan ID target

            // Cek apakah tautan mengarah ke bagian dalam halaman
            if (targetId.startsWith('#')) {
              e.preventDefault(); // Mencegah perilaku default hanya untuk tautan dalam halaman

              // Jika link adalah "Home", scroll ke atas
              if (targetId === '#top') {
                window.scrollTo({
                  top: 0,
                  behavior: 'smooth', // Menambahkan efek smooth scroll
                });
              } else {
                // Menghitung posisi scroll yang tepat
                const navbarHeight = document.querySelector('.navbar').offsetHeight; // Tinggi navbar
                const targetElement = document.querySelector(targetId); // Mendapatkan elemen target
                const targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset - navbarHeight;

                // Menggunakan smooth scroll
                window.scrollTo({
                  top: targetPosition,
                  behavior: 'smooth', // Menambahkan efek smooth scroll
                });
              }
            }
            // Jika tautan mengarah ke halaman lain, biarkan perilaku default
          });
        });

        // script untuk membuka dan menutup navbar pada layar kecil
        const barsIcon = document.querySelector('.bars');
        const xmarkIcon = document.querySelector('.xmark');
        const about = document.getElementById('about');
        const navGroup = document.querySelector('.nav-group');
        const navIcon = document.querySelector('.nav-icon');
        const navLinks = document.querySelectorAll('.nav-links a');

        // Add click event listener to the bars icon
        barsIcon.addEventListener('click', function () {
          about.classList.toggle('active');
          navGroup.classList.toggle('active');
          navIcon.classList.toggle('active');
        });

        // Add click event listener to the xmark icon
        xmarkIcon.addEventListener('click', function () {
          about.classList.toggle('active');
          navGroup.classList.toggle('active');
          navIcon.classList.toggle('active');
        });
      });

      // Add click event listener to the nav links
      navLinks.addEventListener('click', function () {
        about.classList.toggle('active');
        navGroup.classList.toggle('active');
        navIcon.classList.toggle('active');
      });
    </script>
  </body>
</html>
